<!-- question_input.html -->
{% load template_filters %}
{% with user_answer=user_answers|get_item:question.id %}
    {% with question_type=question.question_type %}
        {% with frontend_type=question_type.frontend_type %}
            
            {# Special case for matching paragraph questions with drag_drop_matching type #}
            {% if frontend_type == 'drag_drop_matching' %}
                {# Get the question group #}
                {% with question_group=question.question_group %}
                    {# Check if there are multiple questions in this group #}
                    {% with group_questions=question.passage.questions.all|filter_by_group:question_group %}
                        {% if group_questions.count > 1 %}
                            {# Check if this is the first question in the group #}
                            {% if question.order_number == group_questions.first.order_number %}
                                {# Include the group template with all questions from this group #}
                                {% include "practice/partials/matching_headings_group.html" with question_list=group_questions user_answers=user_answers %}
                            {% endif %}
                            {# Skip rendering for other questions in the group - they're handled in the group template #}
                        {% else %}
                            {# If there's only one question in the group, use the standard template #}
                            {% include "practice/questions/drag_drop_matching.html" %}
                        {% endif %}
                    {% endwith %}
                {% endwith %}
                
            {# Standard template inclusion for other question types #}
            {% elif frontend_type == 'short_text_input' %}
                {% include "practice/questions/short_text_input.html" %}
                
            {% elif frontend_type == 'single_choice_radio' %}
                {% include "practice/questions/single_choice_radio.html" %}
                
            {% elif frontend_type == 'multiple_choice_tickbox' %}
                {% include "practice/questions/multiple_choice_tickbox.html" %}
                
            {% elif frontend_type == 'dropdown_selection' %}
                {% if question_type.code == 'matching_features' or question_type.code == 'matching_info' %}
                    {% include "practice/questions/matching_info.html" %}
                {% elif question_type.code == 'matching_sentence_endings' or question_type.code == 'sentence_completion' %}
                    {% include "practice/questions/sentence_completion.html" %}
                {% else %}
                    {% include "practice/questions/dropdown_selection.html" %}
                {% endif %}
                
            {% elif frontend_type == 'drag_drop_list' %}
                {% include "practice/questions/drag_drop_list.html" %}
                
            {% else %}
                {# Fallback to text input if frontend_type is unknown #}
                <div class="alert alert-warning">
                    Unknown question type: {{ frontend_type }}
                </div>
                {% include "practice/questions/short_text_input.html" %}
            {% endif %}
            
        {% endwith %}
    {% endwith %}
{% endwith %}